footer {
    background-color: #000000;
}

.productos a {
    text-decoration: none;
}

.contactanos a {
    text-decoration: none;
}

.facebook,
.instagram,
.twitter {
    width: 2.3125rem;
    height: 2.3125rem;
    border-radius: 50%;
    padding: 0.3rem;
    position: relative;
    font-weight: 400;
}

.facebook {
    background-color: #3b5998 !important;
}

.instagram {
    background-color: #ac2bac !important;
}

.twitter {
    background-color: #55acee !important;
}

.mediosPago {
    width: 2.5rem;
    height: 1.5rem;
    margin: 0 5px 5px 0;
    vertical-align: middle;
    border: 0;
}

.copyright {
    background-color: #333333;
}